<div class="navbar navbar-inverse text-info" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand text-dark" href="/"> <span style="border-bottom:2px solid black;color:#3f87a6">Now</span>-<span style="border-bottom:2px solid black;color:#ebf8e1">you</span>-<span style="border-bottom:2px solid black;color:#f69d3c">know</span> </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
        </div>

    </div>
</div>